@model WebApplication2.Models.Объект

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Объект</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Наименование_заказа)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Наименование_заказа)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_принятия_заказа)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_принятия_заказа)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Срок_выполнения_работ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Срок_выполнения_работ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Вид_работ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Вид_работ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Статус_заказа)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Статус_заказа)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Клиент.Название___организации)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Клиент.Название___организации)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
