@model IEnumerable<WebApplication2.Models.Материал_объекта>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Единицы_измерения)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Количество_материала)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Материал.Наименование)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Объект.Наименование_заказа)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Единицы_измерения)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Количество_материала)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Материал.Наименование)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Объект.Наименование_заказа)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
