@model IEnumerable<WebApplication2.Models.Материал>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Наименование)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Вид_товара)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Количество)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Единицы_измерения)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Минимальное_количество)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Наименование)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Вид_товара)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Количество)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Единицы_измерения)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Минимальное_количество)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_материала }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_материала }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_материала })
        </td>
    </tr>
}

</table>
